[Desktop Entry]
Type=Application
Name=bw_mount_share
Comment=Mount /media/bw-share at login
Exec=bash -c "/usr/bin/nm-online -s -q && /usr/bin/bw_mount"
RunHook=0
Terminal=true
Hidden=false
StartupNotify=false
